In [1]:
import numpy as np
import plotly.graph_objects as go
import plotly.offline as pyo

In [2]:
np.random.seed(56)

In [3]:
random_x=np.random.randint(1,101,100)
random_y=np.random.randint(1,101,100)

In [4]:
data = [go.Scatter(x=random_x,
                   y=random_y, 
                   mode='markers',
                   marker=dict(
                       size=12,
                       color='rgb(153,12,42)',
                       symbol='pentagon',
                       line=dict(
                           color='rgb(0,0,0)',
                           width=2
                   )))]

In [5]:
layout=go.Layout(title="Hello First Plot",
                 xaxis={'title':"My x-axis"},
                 yaxis=dict(title="My y-axis"),
                 hovermode="closest")

fig=go.Figure(data=data,layout=layout)

In [6]:
pyo.plot(fig,filename='scatter.html')

'scatter.html'

In [7]:
x_values=np.linspace(0,1,100)
y_values=np.random.randn(100)

In [8]:
trace0=go.Scatter(x=x_values, y=y_values+5, 
                 mode='markers', name='markers')

trace1=go.Scatter(x=x_values, y=y_values, 
                 mode='lines', name='mylines')

trace2=go.Scatter(x=x_values, y=y_values-5, 
                 mode='lines+markers', name='myfav')

data = [trace0,trace1,trace2]

layout=go.Layout(title='Line Charts')


fig = go.Figure(data=data, layout=layout)

In [9]:
pyo.plot(fig)

'temp-plot.html'

In [10]:
import pandas as pd

In [11]:
df=pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/population.csv',index_col=0)
df.head()

,PopEstimate2010,PopEstimate2011,PopEstimate2012,PopEstimate2013,PopEstimate2014,PopEstimate2015,PopEstimate2016,PopEstimate2017
Name,,,,,,,,
Connecticut,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184
Maine,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907
Massachusetts,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819
New Hampshire,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795
Rhode Island,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639

In [12]:
data=[go.Scatter(x=df.columns,y=df.loc[name],
                 mode='lines',name=name) 
      for name in df.index]

pyo.plot(data)

'temp-plot.html'

In [13]:
df = pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/2018WinterOlympics.csv')
print(df)

    Rank                NOC  Gold  Silver  Bronze  Total
0      1             Norway    14      14      11     39
1      2            Germany    14      10       7     31
2      3             Canada    11       8      10     29
3      4      United States     9       8       6     23
4      5        Netherlands     8       6       6     20
5      6             Sweden     7       6       1     14
6      7  Republic of Korea     5       8       4     17
7      8        Switzerland     5       6       4     15
8      9             France     5       4       6     15
9     10            Austria     5       3       6     14
10    11              Japan     4       5       4     13
11    12              Italy     3       2       5     10
12    13                OAR     2       6       9     17
13    14     Czech Republic     2       2       3      7
14    15            Belarus     2       1       0      3
15    16              China     1       6       2      9
16    17           Slovakia     1       2       0      3
17    18            Finland     1       1       4      6
18    19      Great Britain     1       0       4      5
19    20             Poland     1       0       1      2
20    21            Hungary     1       0       0      1
21    21            Ukraine     1       0       0      1
22    23          Australia     0       2       1      3
23    24           Slovenia     0       1       1      2
24    25            Belgium     0       1       0      1
25    26              Spain     0       0       2      2
26    26        New Zealand     0       0       2      2
27    28         Kazakhstan     0       0       1      1
28    28             Latvia     0       0       1      1
29    28      Liechtenstein     0       0       1      1

In [14]:
trace1=go.Bar(x=df['NOC'],y=df['Gold'],name='Gold',
              marker={'color':'#FFD700'})

trace2=go.Bar(x=df['NOC'],y=df['Silver'],name='Silver',
              marker={'color':'#9EA0A1'})

trace3=go.Bar(x=df['NOC'],y=df['Bronze'],name='Bronze',
              marker={'color':'#CD7F32'})

In [15]:
data=[trace1,trace2,trace3]
layout = go.Layout(title='Medals',barmode='stack')
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [16]:
df=pd.df = pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/mocksurvey.csv',
                       index_col='Unnamed: 0')
df.head()

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

In [17]:
# trace1=go.Bar(x=df.index, y=df['Strongly Agree'], name='Strongly Agree',orientation='h')
# trace2=go.Bar(x=df.index, y=df['Somewhat Agree'], name='Agree',orientation='h')
# trace4=go.Bar(x=df.index, y=df['Somewhat Disagree'], name='Disagree',orientation='h')
# trace5=go.Bar(x=df.index, y=df['Strongly Disagree'], name='Strongly Disagree',orientation='h')
# trace3=go.Bar(x=df.index, y=df['Neutral'], name='Neutral',orientation='h')
# data=[trace1,trace2,trace3,trace4,trace5]

data=[go.Bar(y=df.index, x=df[response], name=response, orientation='h') for response in df.columns]

In [18]:
layout = go.Layout(title='Survey',barmode='stack')
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [19]:
df=pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/mpg.csv')
print(df)

      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
5    15.0          8         429.0        198    4341          10.0
6    14.0          8         454.0        220    4354           9.0
7    14.0          8         440.0        215    4312           8.5
8    14.0          8         455.0        225    4425          10.0
9    15.0          8         390.0        190    3850           8.5
10   15.0          8         383.0        170    3563          10.0
11   14.0          8         340.0        160    3609           8.0
12   15.0          8         400.0        150    3761           9.5
13   14.0          8         455.0        225    3086          10.0
14   24.0          4         113.0         95    2372          15.0
15   22.0          6         198.0         95    2833          15.5
16   18.0          6         199.0         97    2774          15.5
17   21.0          6         200.0         85    2587          16.0
18   27.0          4          97.0         88    2130          14.5
19   26.0          4          97.0         46    1835          20.5
20   25.0          4         110.0         87    2672          17.5
21   24.0          4         107.0         90    2430          14.5
22   25.0          4         104.0         95    2375          17.5
23   26.0          4         121.0        113    2234          12.5
24   21.0          6         199.0         90    2648          15.0
25   10.0          8         360.0        215    4615          14.0
26   10.0          8         307.0        200    4376          15.0
27   11.0          8         318.0        210    4382          13.5
28    9.0          8         304.0        193    4732          18.5
29   27.0          4          97.0         88    2130          14.5
..    ...        ...           ...        ...     ...           ...
368  27.0          4         112.0         88    2640          18.6
369  34.0          4         112.0         88    2395          18.0
370  31.0          4         112.0         85    2575          16.2
371  29.0          4         135.0         84    2525          16.0
372  27.0          4         151.0         90    2735          18.0
373  24.0          4         140.0         92    2865          16.4
374  23.0          4         151.0          ?    3035          20.5
375  36.0          4         105.0         74    1980          15.3
376  37.0          4          91.0         68    2025          18.2
377  31.0          4          91.0         68    1970          17.6
378  38.0          4         105.0         63    2125          14.7
379  36.0          4          98.0         70    2125          17.3
380  36.0          4         120.0         88    2160          14.5
381  36.0          4         107.0         75    2205          14.5
382  34.0          4         108.0         70    2245          16.9
383  38.0          4          91.0         67    1965          15.0
384  32.0          4          91.0         67    1965          15.7
385  38.0          4          91.0         67    1995          16.2
386  25.0          6         181.0        110    2945          16.4
387  38.0          6         262.0         85    3015          17.0
388  26.0          4         156.0         92    2585          14.5
389  22.0          6         232.0        112    2835          14.7
390  32.0          4         144.0         96    2665          13.9
391  36.0          4         135.0         84    2370          13.0
392  27.0          4         151.0         90    2950          17.3
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model_year  origin                               name
0            70       1          chevrolet chevelle malibu
1            70       1                  buick skylark 320
2            70       1                 plymouth satellite
3            70       1                      amc rebel sst
4            70       1                        ford torino
5            70       1                   ford galaxie 500
6            70       1                   chevrolet impala
7            70       1                  plymouth fury iii
8            70       1                   pontiac catalina
9            70       1                 amc ambassador dpl
10           70       1                dodge challenger se
11           70       1                 plymouth 'cuda 340
12           70       1              chevrolet monte carlo
13           70       1            buick estate wagon (sw)
14           70       3              toyota corona mark ii
15           70       1                    plymouth duster
16           70       1                         amc hornet
17           70       1                      ford maverick
18           70       3                       datsun pl510
19           70       2       volkswagen 1131 deluxe sedan
20           70       2                        peugeot 504
21           70       2                        audi 100 ls
22           70       2                           saab 99e
23           70       2                           bmw 2002
24           70       1                        amc gremlin
25           70       1                          ford f250
26           70       1                          chevy c20
27           70       1                         dodge d200
28           70       1                           hi 1200d
29           71       3                       datsun pl510
..          ...     ...                                ...
368          82       1           chevrolet cavalier wagon
369          82       1          chevrolet cavalier 2-door
370          82       1         pontiac j2000 se hatchback
371          82       1                     dodge aries se
372          82       1                    pontiac phoenix
373          82       1               ford fairmont futura
374          82       1                     amc concord dl
375          82       2                volkswagen rabbit l
376          82       3                 mazda glc custom l
377          82       3                   mazda glc custom
378          82       1             plymouth horizon miser
379          82       1                     mercury lynx l
380          82       3                   nissan stanza xe
381          82       3                       honda accord
382          82       3                     toyota corolla
383          82       3                        honda civic
384          82       3                 honda civic (auto)
385          82       3                      datsun 310 gx
386          82       1              buick century limited
387          82       1  oldsmobile cutlass ciera (diesel)
388          82       1         chrysler lebaron medallion
389          82       1                     ford granada l
390          82       3                   toyota celica gt
391          82       1                  dodge charger 2.2
392          82       1                   chevrolet camaro
393          82       1                    ford mustang gl
394          82       2                          vw pickup
395          82       1                      dodge rampage
396          82       1                        ford ranger
397          82       1                         chevy s-10

[398 rows x 9 columns]

In [20]:
data=[go.Scatter(x=df['horsepower'],
                 y=df['mpg'],
                 text=df['name'],
                 mode='markers',
                 marker=dict(size=df['weight']/100,
                             color=df['cylinders'],
                             showscale=True))]
layout = go.Layout(title='Bubble Chart') #,hoverdistance='closest')
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='bubble_chart.html')

'bubble_chart.html'

In [21]:
y = [1,14,14,15,16,18,18,19,19,
     20,20,23,24,26,27,27,28,29,33,54]

data=[go.Box(y=y,boxpoints='outliers',jitter=0.3,pointpos=2.0)]
pyo.plot(data)

'temp-plot.html'

In [22]:
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

In [23]:
data=[go.Box(y=snodgrass,name='Snodgrass_data'),
      go.Box(y=twain,name='Twain_data')]
pyo.plot(data)

'temp-plot.html'

In [24]:
data=[go.Histogram(x=df['mpg'],xbins=dict(start=0,end=50,size=2))]
layout = go.Layout(title='Histogram of Miles Per Gallon', xaxis=dict(title='Miles Per Gallon'))
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='histogram_miles_per_gallon.html')

'histogram_miles_per_gallon.html'

In [25]:
import plotly.figure_factory as ff
import sys
!{sys.executable} -m pip install scipy
!{sys.executable} -m pip install numpy --update
import scipy

Requirement already satisfied: scipy in /home/nramallo/anaconda3/envs/pydash/lib/python3.6/site-packages (1.5.4)
Requirement already satisfied: numpy>=1.14.5 in /home/nramallo/anaconda3/envs/pydash/lib/python3.6/site-packages (from scipy) (1.19.5)

Usage:
  /home/nramallo/anaconda3/envs/pydash/bin/python -m pip install [options] <requirement specifier> [package-index-options] ...
  /home/nramallo/anaconda3/envs/pydash/bin/python -m pip install [options] -r <requirements file> [package-index-options] ...
  /home/nramallo/anaconda3/envs/pydash/bin/python -m pip install [options] [-e] <vcs project url> ...
  /home/nramallo/anaconda3/envs/pydash/bin/python -m pip install [options] [-e] <local project path> ...
  /home/nramallo/anaconda3/envs/pydash/bin/python -m pip install [options] <archive url/path> ...

no such option: --update

In [26]:
x1=np.random.randn(200)-2
x2=np.random.randn(200)
x3=np.random.randn(200)+2
x4=np.random.randn(200)+4

hist_data=[x1,x2,x3,x4]
grouplabels=['X1', 'X2', 'X3', 'X4']

fig=ff.create_distplot(hist_data,grouplabels,bin_size=[.1,.2,.3,.4])
pyo.plot(fig)

'temp-plot.html'

In [27]:
hist_data=[snodgrass,twain]
grouplabels=['SNODGRASS','TWAIN']

fig=ff.create_distplot(hist_data=hist_data,group_labels=grouplabels,bin_size=[.01,.01])
pyo.plot(fig)

'temp-plot.html'

In [28]:
df=pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/2010SantaBarbaraCA.csv')

In [29]:
data=[go.Heatmap(z=df['T_HR_AVG'].values.tolist(), x=df['DAY'], y=df['LST_TIME'],
                 colorscale='jet')]
layout=go.Layout(title='Santa Barbara Heatmap')
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='santa_barbara_heatmap.html')

'santa_barbara_heatmap.html'

In [30]:
df1=pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/2010SantaBarbaraCA.csv')
df2=pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/2010YumaAZ.csv')
df3=pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/2010SitkaAK.csv')

In [31]:
trace1=go.Heatmap(x=df1['DAY'],y=df1['LST_TIME'],z=df1['T_HR_AVG'],
                  colorscale='Jet',zmin=5,zmax=40)

trace2=go.Heatmap(x=df2['DAY'],y=df2['LST_TIME'],z=df2['T_HR_AVG'],
                  colorscale='Jet',zmin=5,zmax=40)
trace3=go.Heatmap(x=df3['DAY'],y=df3['LST_TIME'],z=df3['T_HR_AVG'],
                  colorscale='Jet',zmin=5,zmax=40)

data=[trace1,trace2,trace3]

In [32]:
import plotly.tools as tool

fig=tool.make_subplots(rows=1,cols=3,subplot_titles=("Santa Barbara","Yuma","Sitka"),
                       shared_yaxes=True)

fig.append_trace(trace1,1,1)
fig.append_trace(trace2,1,2)
fig.append_trace(trace3,1,3)

fig['layout'].update(title='Temps for Santa Barbara, Yuma, and Sitka')

pyo.plot(fig,filename="Cities_heatmap.html")

/home/nramallo/anaconda3/envs/pydash/lib/python3.6/site-packages/plotly/tools.py:465: DeprecationWarning:

plotly.tools.make_subplots is deprecated, please use plotly.subplots.make_subplots instead

'Cities_heatmap.html'