In [1]:
import numpy as np
import plotly.graph_objects as go
import plotly.offline as pyo

In [2]:
np.random.seed(56)

In [ ]:
random_x=np.random.randint(1,101,100)
random_y=np.random.randint(1,101,100)

In [7]:
data = [go.Scatter(x=random_x,
                   y=random_y, 
                   mode='markers',
                   marker=dict(
                       size=12,
                       color='rgb(153,12,42)',
                       symbol='pentagon',
                       line=dict(
                           color='rgb(0,0,0)',
                           width=2
                   )))]

In [8]:
layout=go.Layout(title="Hello First Plot",
                 xaxis={'title':"My x-axis"},
                 yaxis=dict(title="My y-axis"),
                 hovermode="closest")

fig=go.Figure(data=data,layout=layout)

In [9]:
pyo.plot(fig,filename='scatter.html')

'scatter.html'

In [3]:
x_values=np.linspace(0,1,100)
y_values=np.random.randn(100)

In [9]:
trace0=go.Scatter(x=x_values, y=y_values+5, 
                 mode='markers', name='markers')

trace1=go.Scatter(x=x_values, y=y_values, 
                 mode='lines', name='mylines')

trace2=go.Scatter(x=x_values, y=y_values-5, 
                 mode='lines+markers', name='myfav')

data = [trace0,trace1,trace2]

layout=go.Layout(title='Line Charts')


fig = go.Figure(data=data, layout=layout)

In [10]:
pyo.plot(fig)

'temp-plot.html'

In [11]:
import pandas as pd

In [22]:
df=pd.read_csv('~/Plotly-Dashboards-with-Dash/Data/population.csv',index_col=0)
df.head()

,PopEstimate2010,PopEstimate2011,PopEstimate2012,PopEstimate2013,PopEstimate2014,PopEstimate2015,PopEstimate2016,PopEstimate2017
Name,,,,,,,,
Connecticut,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184
Maine,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907
Massachusetts,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819
New Hampshire,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795
Rhode Island,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639

In [23]:
data=[go.Scatter(x=df.columns,y=df.loc[name],
                 mode='lines',name=name) 
      for name in df.index]

pyo.plot(data)

'temp-plot.html'